header {
  background-color: #f0bd35;
  position: absolute;
  top: 0;
  width: 100%;
}
header > h1 {
  text-transform: capitalize;
}
main {
  margin-top: 7.5em;
}
img {
  min-width: 6.25%;
  max-width: 100%;
  display: inline-block;
}
h1 {
  font-size: 1.5em;
}
/*****************
Helpers
******************/
.txt-left {
  margin-left: 5%;
}
